<?xml version="1.0" encoding="UTF-8"?>
<setting>
  <label id="username">
    <value>user</value>
  </label>
  <label id="password">
    <value>passwordx</value>
  </label>
  <label id="db">
    <value>SuperServiceMap</value>
  </label>
  <label id="urlMySqlDB">
    <value>jdbc:mysql://dashboarddb/</value>
  </label>
  <label id="tmpcachexp">
    <value>36000</value>
  </label>
</setting>

